body {
	font-family:'Open Sans', sans-serif;
}

#news {
	border-radius: 5px;
	background-color: #55DDCA;
	padding: 5px;
	margin-bottom: 10px;
}

h1 {
	color: #666;
	font-size: 250%;
	margin: 10px;
	margin-bottom: 0px;
}

h2, h3 {
	color: #15C;
	font-weight: bold;
}